*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* -------------------First section alignment-------------------------- */

.first-section1{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding: 1em;
    margin: 0 20em 0 20em;
}

.hero-section{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    padding: 2em 0 5em 0;
    margin: 0 21em 0 21em;
}




/* -------------------Second section alignment-------------------------- */

.second-section1{
    background-color: white;
    display: flex;
    flex-direction: column;
    
}
.title2{
    display: flex;
    justify-content: center;
    flex: 1;
    padding-top: 2em;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;


}


.squares{
    display: flex;
    justify-content: center;
    flex:1 1 0;
    gap: 3em;
    padding-top: 2em;


}
.square{
    display: flex;
    flex: 1;
    max-width: 150px;
    min-height: 150px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}
img#ette{
    border: solid rgb(39, 125, 255);
}

.under-texts{
    display: flex;
    padding-top: 1em;
    padding-bottom: 5em;
    flex: 1;
    justify-content: center;
    flex: 1 0 0; 
    gap: 7em;
    color: grey;
    font-size: 15px;
}
.undertext{
    display: flex;
    max-width: 100px;
    text-align: center;

}


/* -------------------Third section alignment-------------------------- */

.quote-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------Fourth section alignment-------------------------- */

.fourth-section1{
    display: flex;
    justify-content: center;
    padding: 4em 3em 4em 3em;
    background-color: #f9faf8;
}

.cta-section{
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 125, 255);
    border-radius: 5px;
    padding: 3em 0em 3em 0em;
    gap: 15em;
    margin: 0 21em 0 21em;
}


.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 2em;
}

/* ----------------coloring and sizing:---------------- */

.hero-text{
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    max-width: 10em;
}
.logo, .cta-main{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.cta-text{
    font-size: 14px;
    font-weight: 300;
}
.cta-main{
    font-size: 18px;
}
a, #hero-secondtext{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    max-width: 30em;
    margin-top: 0;

}
ul{
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
img{
    border-radius: 10px;
}
button{
    border: solid rgb(39, 125, 255);
    border-radius: 10px;
    padding: 5px 1em;
    margin-top: 2em;
    background-color: rgb(39, 125, 255);
    color: white;
    font-size: 15px;
    font-weight: 900;
}
.cta-button{
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    margin: 0;
    font-size: 18px;
}
.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    width: 30em;
    padding: 2em 2em 0 2em;
}
.author{
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    align-self: flex-end;
    margin: 0 21em 0 21em;
    padding-right: 2em;
    padding-bottom: 3em;
}
